<!DOCTYPE html>
<html lang="en">
{% load static %}

<body>
    <footer class="text-bg-dark text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 d-flex justify-content-md-between" style="background-color: rgba(0, 0, 0, 0.2);">
            <div>
                <img src="/static/logo-color.png" alt="Logo" width="50" height="50"
                    class="d-inline-block align-text-top" style="border-radius: 50%;" />
                <h5><b>Linux education</b></h5>
            </div>
            <div style="margin-left: 1%; margin-top: 10px;">
                <h5>
                    © 2020 Copyright:
                    <a class="text-light" href="https://hello.sujitupadhyaya.com.np/">Sujit Upadhyaya</a>
                </h5>
            </div>
            <div style="margin-top: 10px;">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/gorkhali.sujit"
                        role="button"><i class="fab fa-facebook-f"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1"
                        href="https://www.linkedin.com/in/sujit-upadhyaya-56477021a/" role="button"><i
                            class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Sujit901"
                        role="button"><i class="fab fa-github"></i></a>
                </section>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>