{% extends "index.html" %}

{% block content %}
<section class="" style="background-color: rgb(234, 234, 234)">
  <br>
  <div class="container" style="margin-right: 65%; color:white; position: -webkit-sticky; position: sticky; top: 6rem;">
    <button type="button" class="btn btn-dark btn-lg px-4" onclick="history.back()">Back</button>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card " style="border-radius: 2rem">
          <div class="row g-0 ">
            <div class=" d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class=" d-flex align-items-center mb-3 pb-1">
                  <span class="border border-dark" style="
                          height: 25px;
                          width: 25px;
                          border-radius: 50%;
                          background-color: rgb(234, 234, 234);
                        "></span>
                </div>
                <div class="  container fs-5">
                  <h1 class="d-flex justify-content-center"><b>Quiz</b></h1>
                  <div class="d-flex justify-content-end"
                    style="color:white; position: -webkit-sticky; position: sticky; top: 3rem; margin-right: 10rem;">
                    <div class="  bg-primary p-4 w-25 rounded-4 fw-bold text-center " align="right " id="displaytimer">
                      <b>0 seconds</b>
                    </div>
                  </div>
                  <form method="post" action="">
                    {% csrf_token %} {% for q in questions%}
                    <div class="form-group">
                      <li><label for="question">{{q.question}}</label></li>
                    </div>
                    <div class="form-check">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1"
                          value="{{q.op1}}" />
                        <label class="form-check-label" for="gridRadios1">
                          {{q.op1}}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2"
                          value="{{q.op2}}" />
                        <label class="form-check-label" for="gridRadios2">
                          {{q.op2}}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1"
                          value="{{q.op3}}" />
                        <label class="form-check-label" for="gridRadios1">
                          {{q.op3}}
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2"
                          value="{{q.op4}}" />
                        <label class="form-check-label" for="gridRadios2">
                          {{q.op4}}
                        </label>
                      </div>
                      <br />
                    </div>
                    {% endfor %}
                    <input id="timer" type="hidden" name="timer" value="" />
                    <br />
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary fs-5">
                        Submit
                      </button>
                    </div>
                  </form>
                  {% block script %}
                  <script>
                    console.log("hello world");
                    const timer = document.getElementById("displaytimer");
                    console.log(timer.textContent);
                    const inputtag = document.getElementById("timer");

                    t = 0;
                    setInterval(() => {
                      t += 1;
                      timer.innerHTML = "<b> " + t + " seconds</b>";
                      inputtag.value = t;
                    }, 1000);
                  </script>
                  {% endblock script %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}