{% extends "index.html" %}

{% block content %}
<br>
<div class="container" style="margin-right: 65%; color:white; position: -webkit-sticky; position: sticky; top: 6rem;">
    <button type="button" class="btn btn-dark btn-lg px-4 shadow-lg mb-5 rounded" onclick="history.back()">Back</button>
</div>
{% if questions %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container d-flex justify-content-center shadow-lg p-2 mb-5 bg-white rounded">
            <h1 class="title">
                <b>Quiz questions of {{pame.name}}</b>
            </h1>
        </div>
    </div>
</section>
<section class="hero is-primary">
    <form action="{% url 'questionsearch' pame.name %}" method="GET">
        <div class="input-group d-flex justify-content-center">
            <div class="form-outline">
                <input type="search" id="form1" name="search" placeholder="Search" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</section>
<br>
<br>
{% if post %}
<h2 class="d-flex justify-content-center"><b>
        Search Result Found
    </b></h2><br>
{% for search in post %}
<section class="section">
    <div class="container">
        <div class="rows">
            <div class="column is-offset-16 is-10">
                {% for q in questions %}
                {% if search == q %}
                <br><br>
                <div class="card shadow-lg mb-5 bg-white rounded">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="d-flex">
                                        <div>
                                            <div class="card-head p-4">
                                                <h1 class="title"><b>{{q.question}}</b></h1>
                                            </div>
                                            <div class="card-body p-3"><span class="subtitle">
                                                    <h2><b>Answer:</b> {{q.ans}}</h2>
                                                </span></div>
                                        </div>
                                        <div class="d-flex justify-content-center" style="position: sticky; margin-left: 55%; margin-top: 5%;">
                                            <div class="container mx-5"><a href="{% url 'surequestion' q.id %}"><button
                                                        type="button"
                                                        class="btn btn-danger btn-lg px-4">Delete</button></a></div>
                                            <div class="container me-5"><a href="{% url 'editQuizQues' q.id %}"><button
                                                        type="button"
                                                        class="btn btn-primary btn-lg px-4">Edit</button></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <br>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<br>
{% else %}
<div class="card">
    <div class="card-body justify-content-center" style="height: 758px; width: 100%;">
        <div class="container d-flex justify-content-center">
            <h1><b>Result not found !!!</b></h1>
        </div>
        <div class="container d-flex justify-content-center">
            <h2>Try different keywords</h2>
        </div>
    </div>
</div>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
{% endblock %}