{% extends "index.html" %}

{% block content %}
<br>
<div class="container d-flex justify-content-center">
    <div class="container justify-content-center">
        <button type="button" class="btn btn-dark btn-lg px-4 shadow-lg mb-5 rounded"
            onclick="history.back()">Back</button>
    </div>
    {% if user.is_staff %}
    <div class="container justify-content-center" style="position:sticky; margin-left: 25%;">
        <a href="/showQuizQues/{{pame.name}}"><button type="button"
                class="btn btn-primary btn-lg shadow-lg mb-5 rounded">Show Quiz Questions</button></a>
    </div>
    <div class="container justify-content-center" style="margin-left: 30%;">
        <a href="/course/{{pame.name}}/quiz"><button type="button"
                class="btn btn-primary btn-lg shadow-lg mb-5 rounded">Play Quiz Game</button></a>
    </div>
    {% else %}
    <div class="container d-flex justify-content-center" style="position: sticky; margin-left: 65%;">
        <a href="/course/{{pame.name}}/quiz"><button type="button"
                class="btn btn-primary btn-lg px-4 shadow-lg mb-5 rounded">Play Quiz Game</button></a>
    </div>
    {% endif %}
</div>
{% if course%}
<br>
<br>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container d-flex justify-content-center shadow-lg p-2 mb-5 bg-white rounded">
            <h1 class="title">
                <b>Course</b>
            </h1>
        </div>
    </div>
</section>
<section class="hero is-primary">
    <form action="{% url 'coursesearch' pame.name %}" method="GET">
        <div class="input-group d-flex justify-content-center">
            <div class="form-outline">
                <input type="search" id="form1" name="search" placeholder="Search Course" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</section>
<br>
<br>
{% if post %}
<h2 class="d-flex justify-content-center"><b>
        Search Result Found
    </b></h2><br>
{% for search in post %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for course in course %}
        {% if search == course %}
        <div class="col">
            <div class="card h-100 mb-3 shadow-lg mb-5 bg-white rounded">
                <img src="{{course.image.url}}" class="card-img-top" alt="Image" style="height: 15rem; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>{{course.coursename}}</b></h5>
                </div>
                {% if user.is_staff %}
                <a href="{% url 'learn' course.course %}"><button type="button" class="btn btn-primary btn-lg px-4"
                        style="width: 100%;">Learn</button></a>
                <div class="container d-flex justify-content-center my-1">
                    <div class="container mx-5"><a href="{% url 'surecourse' course.course %}"><button type="button"
                                class="btn btn-danger btn-lg px-4">Delete</button></a></div>
                    <div class="container me-5"><a href="{% url 'editcourse' course.course %}"><button type="button"
                                class="btn btn-primary btn-lg px-4">Edit</button></a></div>
                </div>
                {% else %}
                <a href="{% url 'learn' course.course %}"><button type="button" class="btn btn-primary btn-lg px-4"
                        style="width: 100%;">Learn</button></a>
                {% endif %}
                <div class="card-footer border-secondary">
                    <small class="text-muted">{{course.update}}</small>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% else %}
<div class="card">
    <div class="card-body justify-content-center" style="height: 758px; width: 100%;">
        <div class="container d-flex justify-content-center">
            <h1><b>Result not found !!!</b></h1>
        </div>
        <div class="container d-flex justify-content-center">
            <h2>Try different keywords</h2>
        </div>
    </div>
</div>
{% endif %}
<br>
<br>
<br>
{% endif %}
{% endblock %}